openweather:
  api:
    key: "1bb5c0e5d141e549c20dad4d05a698d6"
    url: "https://api.openweathermap.org/data/2.5"
    units: "metric"

spring:
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
    redis:
      time-to-live: 600000
      cache-null-values: false
  cloud:
    openfeign:
      cache:
        enabled: false

resilience4j:
  circuitbreaker:
    instances:
      weatherService:
        register-health-indicator: true
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
  retry:
    instances:
      weatherService:
        max-attempts: 3
        wait-duration: 1s

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,circuitbreakers
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.weatherservice: DEBUG
    io.github.resilience4j: DEBUG
    org.springframework.cloud.openfeign: DEBUG
