spring:
  application:
    name: weather-service

  security:
      enabled: false
  autoconfigure:
      exclude:
        - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
        - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
        - org.springframework.boot.autoconfigure.security.servlet.SecurityFilterAutoConfiguration

  main:
    allow-bean-definition-overriding: true

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

openweather:
  api:
    key: ${OPENWEATHER_API_KEY:your_api_key_here}
    url: https://api.openweathermap.org/data/2.5
    units: metric

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.weatherservice: DEBUG
    org.springframework.data.redis: INFO
    feign: INFO

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
